* {
    margin: 0;
    padding: 0;
}

.section {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.mainTitle {
    font-size: 38px;
    margin-bottom: 30px;
}

.title {
    font-size: 32px;
    margin-bottom: 30px;
}